.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (width >600px) {
  
  #optionbar1{
    visibility: visible;
  }
  #optionbar2{
    display: none;
  }
}

@media (max-width: 600px){
  #optionbar1{
    display: none;
  }
  #optionbar2{
    visibility: visible;
  }
}

.mainnav1{
  /* justify-content: space-between; */
  font-size: larger;
  /* margin-top: 10px; */
  margin-bottom: 0px;
  /* height: 50px; */
  /* max-height: 80px;  */
  padding-left: 50px;
  padding-right: 50px;
  .login{
    text-decoration: none;
    padding-left: 5px;
  }
  .logoimg{
    height: 80px;
    border-radius: 20%;
  }

  .searchbutton{
    background-color: black;
    color: white;
  }
  .usericon{
    font-size: 22px;
  }
  .lifont{
    font-size: 16px;
    /* font-weight: bold; */
  }
}
.box1{
  justify-content: space-between;
  font-size: larger;
  margin-top: 0px;
  /* max-height: 80px; */
  padding-left: 30px;
  /* color: #36486b; */
  padding-right: 50px;
  .login{
    text-decoration: none;
    padding-left: 5px;
  }
  .searchbutton{
    /* background-color: black; */
    background-color: black;
    color: white;
  }
  .usericon{
    font-size: 22px;
  }
  
}


